*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;

  }
  

/*----------------Nav Start---------------*/

.nav-container{
    width: 100%;
}

.nav{
    width: 90%;
    margin: 1.3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu, .right-menu{
    width: 25%;
}

.menu-list, .right-menu-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
    border-radius: 5%;
    transition: background-color 0.3s ease-in-out;
}

a:hover{
    background-color: rgb(46, 33, 1, 0.2);
}

.humburge, .cart-humburg{
    display: none;
}

/*-----------------Nav End---------------------*/

/*-----------------Header Start---------------------*/

.head{
    position: relative;
}

.head-img{
    width: 100%;
}

.header-card-container{
    position: absolute;
    bottom: 20%;
    right: 10%;
    padding: 2rem;
    background-color: #FFF3E3;
    width: 40%;
}

.header-card{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 80%;
}

p{
    font-size: 1.1rem;
}

.card-title{
    font-size: 3.3rem;
    color: #B88E2F;
}

.btn-buy{
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
    background-color: #B88E2F;
    border: navajowhite;
    color: white;
    font-weight: bold;
}

/*-----------------Header End---------------------*/

@media (max-width: 1021px) {
    .nav{
        display: flex;
        justify-content: space-between;
    }

    .cart-humburg{
        display: block;
        font-size: 2rem;
    }
    .right-menu-list{
        display: none;
    }
}


@media (max-width: 661px) {
    .nav{
        display: flex;
        justify-content: space-between;
    }

    .humburge, .cart-humburg{
        display: block;
        font-size: 2rem;
    }
    .menu, .right-menu-list{
        display: none;
    }
}


/*-------------Browse Section Start-------------*/

.browse>h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}
.browse>p{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #666666;
}

.browse-cards{

    display: flex;
    justify-self: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.card>p{
    font-size: 1.3rem;
    font-weight: 500;
}
/*-------------Browse Section End-------------*/


/*-------------Products Section Start-------------*/

.products{
    width: 80%;
    margin: 2rem auto;
}
.products>h2{
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
}

.product-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-card{
    background-color: #F4F5F7;
    border-radius: 1%;
    position: relative;
}
.product-card>img{
    width: 100%;
    border-radius: 1% 1% 0 0;
}

.details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}

.details>h3{
    font-size: 1.5rem;
}
.details>p{
    color: #898989;
    font-size: 1rem;
}

.price{
    width: 68%;
    display: flex;
    justify-content: space-between;
}

.price p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.price p:nth-child(2){
    font-size: 1rem;
    text-decoration: line-through;
    color: #B0B0B0;
}

.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E97171;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: 6%;
    color: white;
}

.green{
    background-color: #2EC1AC;
}

.product-cards div:nth-child(4) .discount, .product-cards div:nth-child(6) .discount,
.product-cards div:nth-child(8) .discount{
    background-color: #2EC1AC;
}

/*-------------Products Section End-------------*/


/*--------------Head-------------*/
@media (max-width: 1157px) {
    .header-card{
        width: 100%;
        gap: 0.4rem;
    }
    .header-card-container{
        width: 80%;
        padding: 1rem;
        bottom: 5%;
    }

    .card-title, p{
        font-size: 1rem;
    }
    .btn-buy{
        padding: 0.4rem;
        margin-top: 0;
        background-color: #B88E2F;
        border: navajowhite;
        color: white;
        font-weight: bold;
    }
}

/*------------------Browse-----------*/

@media (max-width: 1300px) {

    .browse-cards{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .browse>p{
        padding: 0 1.6rem;
    }
    
    
}